[
 ;; Stock
 {:db/id           #db/id[:db.part/db]
  :db/ident        :stock/sym
  :db/valueType    :db.type/string
  :db/cardinality  :db.cardinality/one
  :db/doc          "Symbol of stock"
  :db/unique       :db.unique/identity
  :db.install/_attribute :db.part/db}


 ;; Tick
 {:db/id           #db/id[:db.part/db]
  :db/ident        :tick/open
  :db/valueType    :db.type/float
  :db/cardinality  :db.cardinality/one
  :db/doc          "Open price"
  :db.install/_attribute :db.part/db}

 {:db/id           #db/id[:db.part/db]
  :db/ident        :tick/close
  :db/valueType    :db.type/float
  :db/cardinality  :db.cardinality/one
  :db/doc          "Close price"
  :db.install/_attribute :db.part/db}

 {:db/id           #db/id[:db.part/db]
  :db/ident        :tick/high
  :db/valueType    :db.type/float
  :db/cardinality  :db.cardinality/one
  :db/doc          "High price"
  :db.install/_attribute :db.part/db}

 {:db/id           #db/id[:db.part/db]
  :db/ident        :tick/low
  :db/valueType    :db.type/float
  :db/cardinality  :db.cardinality/one
  :db/doc          "Low price"
  :db.install/_attribute :db.part/db}

 {:db/id           #db/id[:db.part/db]
  :db/ident        :tick/volume
  :db/valueType    :db.type/long
  :db/cardinality  :db.cardinality/one
  :db/doc          "Volume of stocks"
  :db.install/_attribute :db.part/db}

 {:db/id           #db/id[:db.part/db]
  :db/ident        :tick/time
  :db/valueType    :db.type/instant
  :db/cardinality  :db.cardinality/one
  :db/doc          "Time of tick"
  :db.install/_attribute :db.part/db}
 ]
